body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F7FA;
  color: #2C3E50;
}

.container {
  background: white;
  padding: 2rem 3rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  width: 350px;
}

h1 {
  color: #0A74DA;
  margin-bottom: 1.5rem;
}

form {
    display: flex;
    gap: 20px;
}