<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Trustify</title>
</head>
<body>
    <h1 class="title">Trustify</h1>

    <div class="container">
    <h3>🕵️‍♂️ Verify a News Source</h3>
    <form action="/urlResults" method="post">
      <label for="url">Enter article URL:</label>
      <input type="url" id="url" name="url" placeholder="https://example.com/article" required>
      <button type="submit">Verify</button>
    </form>
  </div>
</body>
</html>