<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Trustify</title>
</head>
<body>
    <h1 class="title">Trustify</h1>

    <div class="container">
    <h3>🕵️‍♂️ Verify a News Source</h3>
    <form id="verify-form" action="/urlResults" method="post">
      <label for="url">Enter article URL:</label>
      <input type="url" id="url" name="url" placeholder="https://example.com/article" required>
      <button type="submit">Verify</button>
    </form>

    <div id="loading" class="hidden">
    <div class="spinner"></div>
    <p>Analyzing source... please wait</p>
  </div>
  </div>

    <div class="container">
    <h3>📬️Verify a social media post</h3>
    <form action="/imgUpload" method="post">
      <label for="url">Upload an image:</label>
      	<input type="file" id="fileUpload" name="fileUpload">
	    <input type="submit" value="Upload">
    </form>
  </div>

   

  <script>
    const form = document.getElementById("verify-form");
    const loading = document.getElementById("loading");

    form.addEventListener("submit", () => {
      loading.classList.remove("hidden");
    });
  </script>
</body>
</html>